.question-div .action-button{
  display: none;
}

.question-div:hover .action-button{
  display: block;
}

.completed{
  background-color: #C6D62D;
}

.published{
  background-color: #D0DBCB;
}

.new{
  background-color: #EEF3DE;
}