.question-div .action-button{
  display: none;
}

.question-div:hover .action-button{
  display: block;
}

.completed{
  background-color: #FFB5C3;
}

.published{
  background-color: #CDB6FF;
}

.new{
  background-color: #FFE7AF;
}