@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;

  background-color: #f8fafc;
}

.white_button {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm flex items-center justify-center;
}
.black_button {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm flex items-center justify-center;
}
.dropdown {
  @apply absolute right-0 top-full mt-3 w-full bg-slate-50 p-5 rounded-lg min-w-[210px] flex flex-col gap-2 justify-end items-end;
}
.error {
  @apply -mt-4 -mb-4 text-red-500 text-xs;
}

.disabled_button {
  @apply w-full rounded-lg border border-gray-700 bg-gray-700 px-5 py-2.5 text-center text-sm font-medium text-white shadow-sm transition-all hover:border-gray-900 hover:bg-gray-900 focus:ring focus:ring-gray-200 disabled:cursor-not-allowed disabled:border-gray-300 disabled:bg-gray-300;
}
